@using GR30323_Web.UI.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@using System.Security.Claims;
@if (User.Identity.IsAuthenticated)
{
    @await Component.InvokeAsync("Cart") <!-- Это вызывает компонент корзины -->
        <div class="dropdown ms-4 nav-color">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <img src="@Url.Action("GetAvatar", "Image")" width="30" alt="User" class="rounded-circle me-2" />
            @User.Identity.Name
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item">
                    <img src="@Url.Action("GetAvatar", "Image")" width="50" alt="User" class="rounded-circle me-2" />
                @User.Identity.Name
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a href="@Url.Action("Index", "Cart")" class="dropdown-item">View Cart</a> <!-- Добавлена ссылка на корзину -->
                </li>
                <li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnurl="/" method="post">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
}
else
{
        <ul class="nav nav-color">
            <li class="nav-item ms-auto">
                <a class="nav-item nav-link active" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item nav-color">
                <a class="nav-item nav-link active" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        </ul>
}
